.body{  
  font-family: "Roboto Slab", serif; 
  
}

/* index bar */
.MuiButtonBase-root{color: rgb(0, 0, 0) !important;}

/*  Smoothness purpose for submenu in side bar Arrow submenus */

.ReactCollapse--collapse {
    transition: height 200ms;
  }

  /* to add a button css for add-products button in admin dashboard */

.btn-green{background: rgb(124, 235, 124)!important;
  color: black!important;
  padding: 8px 20px !important;
  border-color: black;

  

}
.btn-green:hover{
  background: rgb(27, 214, 27)
}

.btn-sm{padding:6px 20px !important;font-size: 13px !important;}
.btn-lg{padding:8px 20px !important;font-size: 16px !important;}


/*Login form css added external*/
.loginBox {
  width: 60%; /* Adjust for smaller screens */
  max-width: 700px; /* Limit width on larger screens */
  margin: auto; /* Center horizontally */
  
  padding: 20px; /* Add padding for inner spacing */
  overflow: visible; /* Ensure children are visible */
  
}

.css-rizt0-MuiTypography-root{
  font-size:14px !important ;
} 

.text-primary{
  color: blue!important;
}

.MuiAppBar-colorPrimary{
  background: #6bfa05 !important;
}


/* to remove input number arrow css*/
input[type=number]::-webkit-inner-spin-button, 
input[type=number]::-webkit-outer-spin-button { 
    -webkit-appearance: none;
    -moz-appearance: none;
    appearance: none;
    margin: 0; 
}

.MuiSelect-select{background: #fff !important;}



  